/* IMPORTED FONTS */
/* -- DEVELOP */
@font-face {
  font-family: "Lato";
  src: url(../vendor/dev/webfonts/google/Lato-Light.ttf) format("truetype");
  font-weight: 300;
}
/* -- PUBLISH */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */

/* SETUP */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #047ed0;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  color: #333;
  line-height: 1.6;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

a {
    text-decoration: none;
}

/* HEADER */
.main-header {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.main-nav__list {
  display: flex;
  list-style: none;
}

.main-nav__item a {
  text-decoration: none;
}

.main-nav__item a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.main-nav__item a:hover {
  border-bottom: 2px solid #fff;
}

.main-header .flex {
  justify-content: space-between;
}

/* MAIN */
/* SHOWCASE */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase::before, 
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left:0;
    background-color: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
}

.showcase .grid {
    grid-template-columns: 55% 45%;
}

.showcase__title{
    font-size: 40px;
}

.showcase__subtitle {
    color: #000;
}

.showcase__description {
    margin: 20px 0;
}

.showcase__card {
    position: relative;
    top: 60px;
    width: 400px;
    height: 350px;
    z-index: 100;
}

.showcase__form .form-control {
    margin: 30px 0;
}

.showcase__form input[type="text"],
.showcase__form input[type=email] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase__form input:focus {
    outline: none;
}

/* STATS */
.stats {
   padding-top: 100px;
}

.stats__title {
  max-width: 500px;
  margin: auto;
}

.stats__subtitle {
  font-size: 35px;
} 

.stats__info {
  font-size: 20px;
  font-weight: bold;
}







