/* IMPORTED FONTS */
/* -- DEVELOP */
@font-face {
  font-family: "Lato";
  src: url(../vendor/dev/webfonts/google/Lato-Light.ttf) format("truetype");
  font-weight: 300;
}
/* -- PUBLISH */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */

/* SETUP */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #047ed0;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  color: #333;
  line-height: 1.6;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* NAV */
.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav__item a {
  text-decoration: none;
}

.nav__item a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.main-nav .nav__list {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo {
  color: #fff;
}

/* HEADER */
.main-header {
  background-color: var(--primary-color);
  color: #fff;
  height: 110px;
}

.main-header .flex {
  flex-direction: column;
}

.nav__item a:hover {
  border-bottom: 2px solid #fff;
}

/* MAIN */
/* SHOWCASE */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase__text {
  text-align: center;
  margin-top: 40px;
}

.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
}

.showcase__title {
  font-size: 40px;
}

.showcase__subtitle {
  color: #000;
}

.showcase__description {
  margin: 20px 0;
}

.showcase__card {
  position: relative;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.showcase__form .form-control {
  margin: 30px 0;
}

.showcase__form input[type="text"],
.showcase__form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase__form input:focus {
  outline: none;
}

/* STATS */
.stats {
  padding-top: 100px;
}

.stats__title {
  max-width: 500px;
  margin: auto;
}

.stats__subtitle {
  font-size: 35px;
}

.stats__info {
  font-size: 20px;
  font-weight: bold;
}

/* CLI */
.grid__item--first {
  grid-column: 1;
  grid-row: 1;
}

/* CLOUD */

/* LANGUAGES */
.card--centered {
  text-align: center;
}

.languages .card {
  margin: 18px 10px 40px;
  transition: transform 0.3s ease-in;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* FOOTER */
.main-footer .logo {
  text-align: center;
}

.main-footer .socials a {
  justify-self: center;
  color: #fff;
  margin: 0 10px;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .stats .grid,
  .cli .grid,
  .main-footer .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  /* NAV */
  .main-nav .nav__list {
    padding: 10px 0;
    background-color: transparent;
  }

  /* HEADER */
  .main-header {
    height: 70px;
  }

  .main-header .flex {
    flex-direction: row;
    justify-content: space-between;
  }
  /* SHOWCASE */
  .showcase {
    height: auto;
  }

  .showcase .grid {
    grid-template-columns: 55% 45%;
  }

  .showcase__card {
    width: 400px;
    top: 60px;
  }

  .showcase__text {
    text-align: left;
    margin-top: 0;
    padding: 0;
  }

  .showcase__card {
    justify-self: center;
  }
  /* STATS */
  .stats .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* CLI */
  .cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .grid__item--first {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  /* CLOUD */
  .cloud .grid {
    grid-template-columns: 4fr 3fr;
  }
}

@media screen and (min-width: 1200px) {
  .main-header .flex {
    flex-direction: row;
  }

  .grid__item--first {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}
